body {
    padding: 0;
    margin: 0;
}

.fancy {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.fancy img{
    margin: 5px;
}
#gallery_01 img{
    border:2px solid white;
}
 
.active img{
    border:2px solid #333 !important;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(fancybox_overlay.png);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(fancybox_sprite@2x.png);
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(fancybox_loading@2x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

#fancybox-buttons {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 8050;
}

#fancybox-buttons.top {
	top: 10px;
}

#fancybox-buttons.bottom {
	bottom: 10px;
}

#fancybox-buttons ul {
	display: block;
	width: 166px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	border: 1px solid #111;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	   -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	background: rgb(50,50,50);
	background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
	background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: linear-gradient(to bottom, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#fancybox-buttons a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url('fancybox_buttons.png');
	background-repeat: no-repeat;
	outline: none;
	opacity: 0.8;
}

#fancybox-buttons a:hover {
	opacity: 1;
}

#fancybox-buttons a.btnPrev {
	background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
	background-position: -33px 0;
	border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
	background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
	background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
	background-position: 3px -60px;
	border-left: 1px solid #111;
	border-right: 1px solid #3e3e3e;
	width: 35px
}

#fancybox-buttons a.btnToggleOn {
	background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
	border-left: 1px solid #111;
	width: 35px;
	background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
	opacity : 0.4;
	cursor: default;
}
#fancybox-thumbs {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
}

#fancybox-thumbs.bottom {
	bottom: 2px;
}

#fancybox-thumbs.top {
	top: 2px;
}

#fancybox-thumbs ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#fancybox-thumbs ul li {
	float: left;
	padding: 1px;
	opacity: 0.5;
}

#fancybox-thumbs ul li.active {
	opacity: 0.75;
	padding: 0;
	border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
	opacity: 1;
}

#fancybox-thumbs ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #222;
	background: #111;
	outline: none;
}

#fancybox-thumbs ul li img {
	display: block;
	position: relative;
	border: 0;
	padding: 0;
	max-width: none;
}



body {
    margin: 0;
    background-color: #000;
    font-family:'Open Sans';
  }
  h1 { margin:150px auto 30px auto; text-align:center; color:#fff}
  .container {
    margin: auto;
    width: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 767px) {
  
  .container { width: 95%; }
  }
  
  /* -----Slider----- */
  
  .slide-window {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .slide-window .slide-wrapper {
    position: relative;
    left: 0;
    display: flex;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  
  .slide-window .slide-wrapper .slide {
    position: relative;
    width: 100%;
  }
  
  .slide-window .slide-wrapper .slide:before {
    content: "";
    display: block;
    padding-top: 41.17%;
  }
  
  .slide-window .slide-wrapper .slide .slide-image {
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .slide-window .slide-wrapper .slide .slide-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
  }
  
  .slide-window .slide-wrapper .slide .slide-caption h2 {
    margin: 2rem 4.5rem;
    font-size: 2rem;
  }
  
  .slide-window .slide-wrapper .slide .slide-caption p {
    margin: -1rem 4.5rem 3rem;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 767px) {
  
  .slide-window .slide-wrapper .slide .slide-caption h2 {
    margin: 0 3rem 1.5rem;
    font-size: 1.2rem;
  }
  
  .slide-window .slide-wrapper .slide .slide-caption p { margin: -1rem 3rem 1.75rem;  font-size: .8rem;
  }
  }
  
  .slide-window:hover .slide-control-left {
    left: 1%;
    opacity: 1;
  }
  
  .slide-window:hover .slide-control-right {
    right: 1%;
    opacity: 1;
  }
  
  .slide-control-left {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 10%;
    right: auto;
  }
  
  .slide-control-left .slide-control-line {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 14px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    left: 12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .slide-control-left .slide-control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(-135deg);
    transform: translateY(1px) rotate(-135deg);
  }
  
  .slide-control-left .slide-control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  
  .slide-control-left:hover { background-color: #fff; }
  
  .slide-control-left:hover .slide-control-line:after { background-color: #aaa; }
  
  .slide-control-left .rotate-left-top:after { animation: arrowLineRotation 0.49s; }
  
  .slide-control-left .rotate-left-down:after { animation: arrowLineRotationRev 0.49s; }
  @media screen and (max-width: 767px) {
  
  .slide-control-left {
    height: 30px;
    width: 30px;
    opacity: 1;
  }
  
  .slide-control-left .slide-control-line {
    left: 9px;
    height: 10px;
  }
  }
  @media screen and (max-width: 1023px) {
  
  .slide-control-left {
    opacity: 1;
    left: 1%;
  }
  }
  
  .slide-control-right {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    right: 10%;
    left: auto;
  }
  
  .slide-control-right .slide-control-line {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 14px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    right: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .slide-control-right .slide-control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(135deg);
    transform: translateY(1px) rotate(135deg);
  }
  
  .slide-control-right .slide-control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  
  .slide-control-right:hover { background-color: #fff; }
  
  .slide-control-right:hover .slide-control-line:after { background-color: #aaa; }
  
  .slide-control-right .rotate-right-down:after { animation: arrowLineRotation 0.49s; }
  
  .slide-control-right .rotate-right-top:after { animation: arrowLineRotationRev 0.49s; }
  @media screen and (max-width: 767px) {
  
  .slide-control-right {
    height: 30px;
    width: 30px;
    opacity: 1;
  }
  
  .slide-control-right .slide-control-line {
    right: 9px;
    height: 10px;
  }
  }
  @media screen and (max-width: 1023px) {
  
  .slide-control-right {
    opacity: 1;
    right: 1%;
  }
  }
   @keyframes 
  arrowLineRotation {  to {
   transform: rotate(180deg);
  }
  }
  @keyframes 
  arrowLineRotationRev {  to {
   transform: rotate(-180deg);
  }
  }
  
  .slide-control-btn ul {
    position: absolute;
    padding: 0;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .slide-control-btn ul li {
    margin: 0 5px;
    list-style: none;
  }
  
  .slide-control-btn ul li a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .slide-control-btn ul li a.active, .slide-control-btn ul li a:hover { background-color: #fff; }
  @media screen and (max-width: 767px) {
  
  .slide-control-btn ul {  margin: .5rem 0;
  }
  
  .slide-control-btn ul li a {
    width: 10px;
    height: 10px;
  }
  }
  
  /*!
 * Simple and clean slider v1.0 (https://hodalog.com)
 * Copyright 2018 Hodaka Sakamoto
 * Licensed under MIT (https://gitlab.com/hodanov/simple-and-clean-slider/tree/master/LICENSE.md)
 */
/* -----Container----- */
body {
  margin: 0;
  background-color: #000;
}
.container {
  margin: auto;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    width: 95%;
  }
}

/* -----Slider----- */
$font-color: #fff;
$parts-color: #fff;
$parts-arrow-color: #aaa;
$slide-height: 41.17%;
$duration-of-sliding-animation: .5s;
$duration-of-controller-animation: .3s;

@mixin slide-controller-common-style {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $parts-color;
  color: $parts-color;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all $duration-of-controller-animation;
  transition: all $duration-of-controller-animation;
}
@mixin slide-control-line {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
@mixin media-query-slide-caption {
  @media screen and (max-width: 767px) {
    h2 {
      margin: 0 3rem 1.5rem;
      font-size: 1.2rem;
    }
    p {
      margin: -1rem 3rem 1.75rem;
      font-size: .8rem;
    }
  }
}
@mixin media-query-slide-control($direction) {
  @media screen and (max-width: 767px) {
    height: 30px;
    width: 30px;
    opacity: 1;
    @if $direction == "left"{
      .slide-control-line {
        left: 9px;
        height: 10px;
      }
    }
    @else if $direction == "right" {
      .slide-control-line {
        right: 9px;
        height: 10px;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    opacity: 1;
    @if $direction == "left" {
      left: 1%;
    }
    @else if $direction == "right" {
      right: 1%;
    }
  }
}
@mixin media-query-controll-btn {
  @media screen and (max-width: 767px) {
    ul {
      margin: .5rem 0;
      li a {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.slide-window {
  width: 100%;
  position: relative;
  overflow: hidden;
  .slide-wrapper {
    position: relative;
    left: 0;
    display: flex;
    -webkit-transition: right $duration-of-sliding-animation;
    transition: right $duration-of-sliding-animation;
    -webkit-transition: left $duration-of-sliding-animation;
    transition: left $duration-of-sliding-animation;
    .slide {
      position: relative;
      width: 100%;
      &:before {
        content:"";
        display: block;
        padding-top: $slide-height;
      }
      .slide-image {
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .slide-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $font-color;
        background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.7));
        h2 {
          margin: 2rem 4.5rem;
          font-size: 2rem;
        }
        p {
          margin: -1rem 4.5rem 3rem;
          font-size: 1.5rem;
        }
        @include media-query-slide-caption;
      }
    }
  }
  &:hover {
    .slide-control-left {
      left: 1%;
      opacity: 1;
    }
    .slide-control-right {
      right: 1%;
      opacity: 1;
    }
  }
}

.slide-control-left {
  @include slide-controller-common-style;
  left: 10%;
  right: auto;
  .slide-control-line {
    @include slide-control-line;
    left: 12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    &:nth-child(2) {
      -webkit-transform: translateY(1px) rotate(-135deg);
      transform: translateY(1px) rotate(-135deg);
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $parts-color;
      -webkit-transition: background-color $duration-of-controller-animation;
      transition: background-color $duration-of-controller-animation;
    }
  }
  &:hover {
    background-color: $parts-color;
    .slide-control-line:after {
      background-color: $parts-arrow-color;
    }
  }
  .rotate-left-top:after {
    animation: arrowLineRotation 0.49s;
  }
  .rotate-left-down:after {
    animation: arrowLineRotationRev 0.49s;
  }
  @include media-query-slide-control("left")
}

.slide-control-right {
  @include slide-controller-common-style;
  right: 10%;
  left: auto;
  .slide-control-line {
    @include slide-control-line;
    right: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    &:nth-child(2) {
      -webkit-transform: translateY(1px) rotate(135deg);
      transform: translateY(1px) rotate(135deg);
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $parts-color;
      -webkit-transition: background-color $duration-of-controller-animation;
      transition: background-color $duration-of-controller-animation;
    }
  }
  &:hover {
    background-color: $parts-color;
    .slide-control-line:after {
      background-color: $parts-arrow-color;
    }
  }
  .rotate-right-down:after {
    animation: arrowLineRotation 0.49s;
  }
  .rotate-right-top:after {
    animation: arrowLineRotationRev 0.49s;
  }
  @include media-query-slide-control("right")
}
@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.slide-control-btn {
  ul {
    position: absolute;
    padding: 0;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      margin: 0 5px;
      list-style: none;
      a {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $parts-color;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        &.active,
        &:hover {
          background-color: $parts-color;
        }
      }
    }
  }
  @include media-query-controll-btn;
}




.clearfix { zoom: 1; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.bzoom { direction: ltr; }

.bzoom,
.bzoom_thumb,
.bzoom_thumb_image,
.bzoom_big_image,
.bzoom_zoom_preview,
.bzoom_icon,
.bzoom_hint { display: none }

.bzoom .bzoom_thumb { background: #fff url(./img/loading.gif) center no-repeat; }

.bzoom,
.bzoom ul,
.bzoom li,
.bzoom img,
.bzoom_hint,
.bzoom_icon,
.bzoom_description {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none
}

.bzoom,
.bzoom_magnifier div,
.bzoom_magnifier div img,
.bzoom_small_thumbs ul,
ul .bzoom_small_thumbs li,
.bzoom_zoom_area div,
.bzoom_zoom_img { position: relative }

.bzoom img,
.bzoom li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none
}

.bzoom,
.bzoom_small_thumbs li { float: left }

.bzoom_right { float: right }

.bzoom li { position: absolute }

.bzoom img {
  vertical-align: bottom;
  width: 50px;
  height: 70px
}

.bzoom .bzoom_zoom_area,
.bzoom_zoom_area {
  background: #fff url(./img/jbzoom/loading.gif) center no-repeat;
  border: 1px solid #ddd;
  padding: 6px;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  display: none;
  z-index: 20;
}

.bzoom_zoom_area div { overflow: hidden; }

.bzoom_zoom_area .bzoom_zoom_img { position: absolute; }

.bzoom_wrap .bzoom_magnifier {
  background: #fff;
  outline: #bbb solid 1px;
  display: none;
  cursor: move;
}

.bzoom_magnifier div { overflow: hidden; }

.bzoom_wrap .bzoom_small_thumbs { overflow: hidden; }

.bzoom_wrap .bzoom_small_thumbs li {
  border: 1px solid #FFF;
  margin: 0px 10px 0px 0px;
  position: relative;
}

.bzoom_wrap ul li.bzoom_smallthumb_active {
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  border: 1px solid #535353;
}
